## IntelliJ files to ignore
*.iml
*.iws
*.ipr
.idea
.idea/*

## NetBeans files to ignore
.*_nb

## scala specific files to ignore
*.class
target/
project/project/
benchData/
_site/

## Metals files to ignore
.metals/
.bloop/

## CTags files to ignore
.ctags
